
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>
<h3>Add item to wishlist</h3>
<form asp-action="create">

    <input />
    <span></span>
    <button type ="submit">Add Item</button>
</form>
